body{
    margin: 0;
    padding: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRfbgKWwiIQZn96fEJe4dimxngXH4_Xbv2B2g&usqp=CAU");
    background-size: cover;
  
  }
  nav{
    display: flex;
    background-color: black;
    height: 50px;
    width: auto;
    justify-content: space-between;
  }
  nav ul{
    display: flex;
    list-style: none;
  }